$clr-burgundy: #772432;
$clr-blue: #004165;
$clr-yellow: #f2df74;
$clr-red: #cd202c;
$clr-grey: #a9b2b1;
$clr-lightgrey: #eeeeee;
$clr-black: #000000;
$clr-white: #ffffff;

$text-black: rgba($clr-black, 0.9);
