@import "../../styles/variables";

.post {
  width: 300px;
  margin-bottom: 2rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &_link {
    color: inherit;
    text-decoration: none;
  }
  // &_wrapper {
  //   display: flex;
  // }
  &_img {
    flex: 0 0 150px;
  }
  &_info {
    padding: 1rem;
    &Title {
      font-family: "Gotham Book";
      font-size: 1.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.25rem;
    }
    &Author {
      font-weight: bold;
    }
    &Desc {
      margin-top: 0.5rem;
    }
  }
}

.post:hover,
.post:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media only screen and (max-width: 700px) {
  .post {
    box-shadow: unset;
  }
  .post_img {
    flex-basis: 80px;
  }
  .post_info {
    padding: 0.25rem;
    margin-left: 0.75rem;
    // margin-right: 1rem;
    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
    }
  }
}
